<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.dtl.wearableremote"
    android:versionCode="1"
    android:versionName="1.0" >

    
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="16" />
    
    <!-- Note: Include these permission in your app manifest -->
    
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    
</manifest>
